.chat-main
  .chat-main__group-info
    .group-names
      %p.group-names__name test
      %ul.group-names__members
        Member :
        %li.group-names__member tanaka
        %li.group-names__member tanaka2
        %li.group-names__member tanaka3
    %a.edit-button{:href => "#"} 
      %p.edit-button__p Edit

  .chat-main__message-list
    .message-items
      .over-message
        .over-message__sender masa
        .over-message__datetime 2020-07-02
      .message-items__message おはよう！
  
  .chat-main__message-form
    %form.bottom-items
      .message-wrapper
        .textpic
          %input{type: "text", placeholder: "type a message", class:"textpic__input-text"}
          %label{class: "textpic__image"}
            = icon('far', 'image', class: "textpic__icon")
            %input{type: "file", class: "textpic__back"}
        .message-wrapper__sub-button
          %input{type: "submit", value: "Send", class: "submit-button"}
