.side-bar
  .side-bar__user-name
    .top-items
      .top-items__name 
        = current_user.name

      .top-items__icons
        = link_to edit_user_path(current_user), class: "top-items__edit-icon"  do
          = icon('far', 'edit')
        %a.top-items__setting-icon{:href => "#"} 
          = icon('fas', 'cog')
  .side-bar__group-list
    .group-item
      %a.group-item__link-group{:href => "#"}
        .group-item__name
          masa
        .group-item__latest-message
          まだメッセージありません