.side-bar
  .side-bar__user-name
    .top-items
      .top-items__name masa

      .top-items__icons
        %a.top-items__edit-icon{:href => "#"} 
          = icon('far', 'edit')
        %a.top-items__setting-icon{:href => "#"} 
          = icon('fas', 'cog')
  .side-bar__group-list
    .group-item
      %a.group-item__link-group{:href => "#"}
        .group-item__name
          masa
        .group-item__latest-message
          まだメッセージありません